.expenseCard{
    display:grid;
    grid-template-columns:20% 1fr 20%;
    max-width: 2000px;
    width:auto;
    height:max-content;
    background-color:darkgrey;
    padding:10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    border:1px solid;
    border-color: white;
}
.ExpensePrice{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.button{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: 0 solid;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.button:hover{
    border-color: white;
    border: 1px solid;
}